
/*
 * PURCHASE SECTION PAGE STYLES
 */
body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.single-item{
  max-width: 300px;
}
.col-two, .col-three {
  margin-top: 20px;
}
ul.list-items {
  list-style-type: none;
}
.item {
  padding: 12px;
  padding-left: 0;
  border-top: 1px solid #ddd;
}
.item a{
  color: #444;
  font-size: 1.6rem;
}
.item a:active{
  font-weight: 700;
  text-decoration: none;  
}
.item a:hover{ 
  text-decoration: none;
  opacity: 0.7;
}
.single-item-desc{
  text-align: center;
  padding-top: 5px;
  margin: 0;
}
.item--cost{
  text-align: center;
  color: red;
  font-weight: 700;
  padding-top: -5px;
}

/*
 * SINGLE ITEM DESCRIPTION PAGE STYLES
 */
.container{
  margin-top: 10px;
  /* border-top: 1px solid #ddd; */
}
.item-one-image{
  width: 325px;
  padding-top: 20px;
}
.social-media{
  /* background-color: red; */
}
.col-md-5.item-one-section-right {
  margin-left: 100px;
  padding-top: 5px;
}
.item-one-title{
  font-size: 25px;
}
p.item-one-price {
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
}
.item-one-button {
  background-color: #fff;
  border: 1px solid #444;
  margin-top: 25px;
}
button.btn.btn-default.dropdown-toggle {
  margin-top: 5px;
}
.item-one-desc {
  font-size: 18px;
  margin-left: 27%;
  margin-top: -8%;
}
.item-one-desc p {
  color: #444
}
.item-one-single-image{
  max-width: 260px;
  margin-top: 20px;
}
.single-item-header {
  margin-left: 26%;
  margin-top: 5%;
}
.header {
  background-color: #E8E7E7;
  height: 60px;
  margin: 10px 0 0 0;
  padding: 0 5px 0 5px;
}
.navbar	{
	display: block;
	background-color: grey;
	height: 60px;
}
.navItems li{
	list-style-type: none;
	display: inline-block;
	padding:10px 0  0 20px;
}
.navItems a{
	color: #fff;
	padding-left: 15px;
}
.logo	{
	height: 40px;
	width: 30px;
}
.row-about {
  height: 450px;
  background-color: #E8E7E7;
  margin: 2px 0 10px 0;
}
.row-testimonial, .row-contact {
  height: 450px;
  background-color: #E8E7E7;
  margin: 40px 0 10px 0;
}
#social {
  padding: 20px 100px 20px 100px;
  margin: 50px 100px 0 100px;
  text-align: center;
}
.social-logos {
  display: inline-block;
  padding: 30px 0 0 0;
}
#facebook {
  height: 23px;
  width: 23px;
  margin: 10px 10px 10px 10px;
}
#twitter{
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 10px;
}
#insta {
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 10px;
}
#google {
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 10px;
}
#youtube {
  height: 25px;
  width: 25px;
  margin: 10px 10px 10px 10px;
}
