@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Josefin+Sans:400,700|Open+Sans:300');
body{
	background-color: #fff;
/*
 * PURCHASE SECTION PAGE STYLES
 */
body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
.single-item{
  max-width: 300px;
}
.col-two, .col-three {
  margin-top: 20px;
}
ul.list-items {
  list-style-type: none;
}
.item {
  padding: 12px;
  padding-left: 0;
  border-top: 1px solid #ddd;
}
.item a{
  color: #444;
  font-size: 1.6rem;
}
.item a:active{
  font-weight: 700;
  text-decoration: none;  
}
.item a:hover{ 
  text-decoration: none;
  opacity: 0.7;
}
.single-item-desc{
  text-align: center;
  padding-top: 5px;
  margin: 0;
}
.item--cost{
  text-align: center;
  color: red;
  font-weight: 700;
  padding-top: -5px;
}

/*
 * SINGLE ITEM DESCRIPTION PAGE STYLES
 */
.container{
  margin-top: 10px;
  /* border-top: 1px solid #ddd; */
}
.item-one-image{
  width: 325px;
  padding-top: 20px;
}
.col-md-5.item-one-section-right {
  margin-left: 100px;
  padding-top: 5px;
}
.item-one-title{
  font-size: 25px;
}
p.item-one-price {
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
}
.item-one-button {
  background-color: #fff;
  border: 1px solid #444;
  margin-top: 25px;
}
button.btn.btn-default.dropdown-toggle {
  margin-top: 5px;
}
.item-one-desc {
  font-size: 18px;
  margin-left: 27%;
  margin-top: -8%;
}
.item-one-desc p {
  color: #444
}
.item-one-single-image{
  max-width: 260px;
  margin-top: 20px;
}
.single-item-header {
  margin-left: 26%;
  margin-top: 5%;
}