@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
.navbar	{
	display: block;
	background-color: gray;
	height: 60px;
}
.navItems li{
	list-style-type: none;
	display: inline-block;
	padding:10px 0  0 20px;

}
.navItems a{
	color: #fff;
	padding-left: 15px;
	font-family: 'Open Sans', sans-serif;
}
.drop-down:hover li{
	display: list-item;
}
.drop-down  ul li{
	display: none;
}
.logo	{
	height: 40px;
	width: 30px;
}
.jumbotron {
	background-image: url("../img/banner.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 350px;
	color: red;
	font-size: 40px;
}

.thumbnail-img img {
	height: 250px;
}